.foot {
    background-color: var(--bcg-dark);
    padding-top: 60px;
    padding-bottom: 60px;

    &__container {
        @media screen and (min-width: 768px) and (max-width: 1199px) {
            position: relative;
        }
        
        @media screen and (min-width: 1200px) {
            display: flex;
        }
        
    }
    
}


.foot__logotype {
    margin: 0;
    padding-bottom: 20px;
}
.foot .logotype__type {
    color: var(--primery-cl);
}


.foot__adr,
.foot__link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.foot__list {
    text-align: center;
    padding-bottom: 60px; 

    @media screen and (min-width: 1200px) {
        text-align: left;

    }
}
.foot__list>li:not(:last-child) {
    margin-bottom: 9px;
}

.foot__adr {
    color: var(--primery-cl);
}

.foot__link {
    color: rgba(255, 255, 255, 0.6);

    
    &:hover,
    &:focus {
    color: var(--accent);
    cursor: pointer;
}
}
.tablet-position {
    @media screen and (min-width: 768px) and (max-width:1199px) {
        position: relative;
        top: 0px;
        left: 60px;

        width: 230px;
   }
}
.join {
    margin-bottom: 60px;

    @media screen and (min-width: 768px) and (max-width:1199px) {
         position: absolute;
         top: 5px;
         right: 89px;
    }
    @media screen and (min-width: 1200px) {
        padding-left: 70px;   
    }
}
.join__title {
    display: block;
    margin-bottom: 20px;
    

    @include font(700, 14px, 1.14);
    text-transform: uppercase;
    text-align: center;

    color: var(--primery-cl);
    

    @media screen and (min-width: 1200px) {
        padding-top: 12px;
    
        text-align: left;
          
    }
    
}
.foot .social__link {
    fill: var(--primery-cl);
    background-color: rgba(255, 255, 255, 0.1);
    
}