.filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin:0 auto ;
    
    padding-bottom: 16px;

    @media screen and (min-width: 768px) {
        width: 610px;
        justify-content: center;
    }
    

    &__item:not(:last-child) {
        margin-right: 8px;
        margin-bottom: 15px;
    }
}

.filters__btn {
    @include font(500, 16px, 1.6);
    

    color: var(--titl-cl);
    background-color: var(--bcg-light);
    border: none;
    border-radius: 4px;
    padding: 6px 22px;

    transition-property: —Åolor, background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);  
    
    &.current,
    &:hover,
    &:focus {
    color: var(--primery-cl);
    background-color: var(--btn-hover);
}
    &:hover,
    &:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    cursor: pointer;
}
}

